@page
@model kwh.Pages.Vendors.DeleteModel

@{
    ViewData["Title"] = "Delete Vendor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <br />
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Vendor.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Vendor.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Vendor.Url)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Vendor.Url)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Vendor.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Vendor.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Vendor.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Vendor.Email)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Vendor.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</body>
</html>
