@page
@model kwh.Pages.Vendors.IndexModel

@{
    ViewData["Title"] = "Vendors";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/wwwroot/css/site.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
</head>
<body>
    <!--Search Bar-->
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-10 text-right">
                <form asp-page="./Index" method="get">
                    <div class="form-actions color-white p-2 d-inline-block">
                        <div class="input-group px-2">
                            <input type="text" class="form-control" name="CurrentFilter" value="@Model.CurrentFilter" />
                            <div class="input-group-append">
                                <input class="btn btn-primary " type="submit" value="Search" />
                            </div>
                        </div>
                    </div>
                    <div class="p-2 d-inline-block">
                        <a class="btn btn-primary" asp-page="/Vendors">Clear Search</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-3" style="max-height: 560px; overflow-y:scroll">
            <div class="col-10">
                <table class="table table-striped border-hidden bg-white mb-0">
                    <thead>
                        <tr>
                            <th class="border-0 rounded-top" style="position: sticky; top: 0; background: white;">
                                <a asp-page="./Index" asp-route-SearchBy="@Model.SearchBy"
                                   asp-route-CurrentFilter="@Model.CurrentFilter"
                                   asp-route-sortOrder="@Model.VendorSort">
                                    @Html.DisplayNameFor(model => model.Vendor[0].VendorName)
                                </a>
                            </th>
                            <th class="border-0 rounded-top" style="position: sticky; top: 0; background: white;">
                                @Html.DisplayNameFor(model => model.Vendor[0].VendorUrl)
                            </th>
                            <th class="border-0 rounded-top" style="position: sticky; top: 0; background: white;">
                                @Html.DisplayNameFor(model => model.Vendor[0].VendorPhone)
                            </th>
                            <th class="border-0 rounded-top" style="position: sticky; top: 0; background: white;">
                                @Html.DisplayNameFor(model => model.Vendor[0].VendorEmail)
                            </th>
                            <th class="border-0 rounded-top" style="position: sticky; top: 0; background: white;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Vendor)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VendorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VendorUrl)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VendorPhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VendorEmail)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.VendorId" class="badge badge-primary">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center p-2">
            <div class="col-10 text-right p-2">
                <input type="button" value="Add +" onclick="window.location.href = 'Vendors/Create';" class="btn btn-primary" />
            </div>
        </div>
</body>
</html>
