@page
@model kwh.Pages.Vendors.IndexModel

@{
    ViewData["Title"] = "Vendors";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/wwwroot/css/site.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
</head>
<body>
    <table class="table border-hidden bg-white mb-0 mt-3">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.VendorSort">
                        @Html.DisplayNameFor(model => model.Vendor[0].VendorName)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor[0].VendorUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor[0].VendorPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor[0].VendorEmail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vendor)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorEmail)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.VendorId">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.VendorId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.Vendor.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Vendor.HasNextPage ? "disabled" : "";
    }

    <div class="row p-2">
        <div class="btn-group col-sm-3 p-2">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Vendor.PageIndex - 1)"
               class="btn btn-primary @prevDisabled">
                <
            </a>
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Vendor.PageIndex + 1)"
               class="btn btn-primary @nextDisabled">
                >
            </a>
        </div>
        <div class="col-sm text-right p-2">
            <input type="button" value="Create +" onclick="window.location.href = 'Vendors/Create';" class="btn btn-primary" />
        </div>
    </div>
</body>
</html>
