@page
@model kwh.Pages.Projects.DeleteModel

@{
    ViewData["Title"] = "Delete Project";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <br />
    <div class="justify-content-center text-center">
        <h3>Are you sure you want to delete this?</h3>
        <dl class="row justify-content-center text-center">
            <dt class="col-6 text-right">
                @Html.DisplayNameFor(model => model.Project.ProjectName)
            </dt>
            <dd class="col-6 text-left">
                @Html.DisplayFor(model => model.Project.ProjectName)
            </dd>
            <dt class="col-6 text-right">
                @Html.DisplayNameFor(model => model.Project.ProjectYear)
            </dt>
            <dd class="col-6 text-left">
                @Html.DisplayFor(model => model.Project.ProjectYear)
            </dd>
            <dt class="col-6 text-right">
                @Html.DisplayNameFor(model => model.Project.ProjectCountry)
            </dt>
            <dd class="col-6 text-left">
                @Html.DisplayFor(model => model.Project.ProjectCountry)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Project.ProjectId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-primary" asp-page="./Index">Back to List</a>
        </form>
    </div>
</body>
</html>
