@page
@model kwh.Pages.Inventory.CreateModel

@{
    ViewData["Title"] = "Create Component";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h4>Component</h4>

    <!-- CategoryNameSL, VendorNameSL, MaturityStatusSL, ProjectNameSL and LastNameSL generate drop down lists for FK
            navigation properties -->
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Component.PartNumber" class="control-label"></label>
                    <input asp-for="Component.PartNumber" class="form-control" />
                    <span asp-validation-for="Component.PartNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Component.PartName" class="control-label"></label>
                    <input asp-for="Component.PartName" class="form-control" />
                    <span asp-validation-for="Component.PartName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Component.Category" class="control-label"></label>
                    <select asp-for="Component.CategoryId" class="form-control"
                            asp-items="@Model.CategoryNameSL">
                        <option value="">-- Select a Category --</option>
                    </select>
                    <span asp-validation-for="Component.CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Component.Vendor" class="control-label"></label>
                    <select asp-for="Component.VendorId" class="form-control"
                            asp-items="@Model.VendorNameSL">
                        <option value="">-- Select a Vendor --</option>
                    </select>
                    <span asp-validation-for="Component.VendorId" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Component.UnitCost" class="control-label"></label>
                    <input asp-for="Component.UnitCost" class="form-control" />
                    <span asp-validation-for="Component.UnitCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Component.Notes" class="control-label"></label>
                    <input asp-for="Component.Notes" class="form-control" />
                    <span asp-validation-for="Component.Notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Component.Maturity" class="control-label"></label>
                    <select asp-for="Component.MaturityId" class="form-control"
                            asp-items="@Model.MaturityStatusSL">
                        <option value="">-- Select Maturity --</option>
                    </select>
                    <span asp-validation-for="Component.MaturityId" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Component.Url" class="control-label"></label>
                    <input asp-for="Component.Url" class="form-control" />
                    <span asp-validation-for="Component.Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Component.QuantityCurrent" class="control-label"></label>
                    <input asp-for="Component.QuantityCurrent" class="form-control" />
                    <span asp-validation-for="Component.QuantityCurrent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Component.QuantityNeeded" class="control-label"></label>
                    <input asp-for="Component.QuantityNeeded" class="form-control" />
                    <span asp-validation-for="Component.QuantityNeeded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Component.Project" class="control-label"></label>
                    <select asp-for="Component.ProjectId" class="form-control"
                            asp-items="@Model.ProjectNameSL">
                        <option value="">-- Select a Project --</option>
                    </select>
                    <span asp-validation-for="Component.ProjectId" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Component.Volunteer" class="control-label"></label>
                    <select asp-for="Component.VolunteerId" class="form-control"
                            asp-items="@Model.LastNameSL">
                        <option value="">-- Select a Volunteer --</option>
                    </select>
                    <span asp-validation-for="Component.VolunteerId" class="text-danger" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
