@page 
@model kwh.Pages.Inventory.DetailsModel

@{
    ViewData["Title"] = "Component Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Component</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].PartNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].PartName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].Vendor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].UnitCost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].Maturity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].Url)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].QuantityCurrent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].QuantityNeeded)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].Project)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Component[0].Volunteer)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Component)
                 {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Maturity.MaturityStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityCurrent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityNeeded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.ProjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Volunteer.LastName)
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</body>
</html>
