@page
@model kwh.Pages.Inventory.IndexModel

@{
    ViewData["Title"] = "Components";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Part Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].PartNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].PartName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].UnitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component[0].QuantityCurrent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Component) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityCurrent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ComponentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ComponentId">Details</a>
                <!-- <a asp-page="./Delete" asp-route-id="@item.ComponentId">Delete</a> -->
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
