@page
@model kwh.Pages.Inventory.IndexModel

@{
    ViewData["Title"] = "Components";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <b>Search By:</b>
            <!-- Retrieve search criteria from Criteria[], where searchBy values are manually set-->
            @foreach (var searchby in Model.Criteria)
            {
                @Html.RadioButtonFor(m => m.SearchBy, searchby)<text> @searchby  </text>
            }
            <input type="text" name="CurrentFilter" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </div>
    </form>
    <br />
    <!-- URL Query String for sorting and searching -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-SearchBy="@Model.SearchBy"
                       asp-route-CurrentFilter="@Model.CurrentFilter"
                       asp-route-SortOrder="@Model.CategorySort">
                        @Html.DisplayNameFor(model => model.Component[0].Category)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Component[0].PartNumber)
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SearchBy="@Model.SearchBy"
                       asp-route-CurrentFilter="@Model.CurrentFilter"
                       asp-route-SortOrder="@Model.NameSort">
                        @Html.DisplayNameFor(model => model.Component[0].PartName)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SearchBy="@Model.SearchBy"
                       asp-route-CurrentFilter="@Model.CurrentFilter"
                       asp-route-SortOrder="@Model.CostSort">
                        @Html.DisplayNameFor(model => model.Component[0].UnitCost)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SearchBy="@Model.SearchBy"
                       asp-route-CurrentFilter="@Model.CurrentFilter"
                       asp-route-SortOrder="@Model.QuantitySort">
                        @Html.DisplayNameFor(model => model.Component[0].QuantityCurrent)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SearchBy="@Model.SearchBy"
                       asp-route-CurrentFilter="@Model.CurrentFilter"
                       asp-route-SortOrder="@Model.ProjectSort">
                        @Html.DisplayNameFor(model => model.Component[0].Project)
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Component)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityCurrent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <!-- <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Paging is disabled, if the number of records shown does not exceed threshold -->
    @{
        var prevDisabled = !Model.Component.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Component.HasNextPage ? "disabled" : "";
    }

    <!-- asp-route-sortOrder, asp-route-currentFilter, asp-route-searchBy, and asp-route-pageIndex preserves sort and
        search results across pages -->
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-searchBy="@Model.SearchBy"
       asp-route-pageIndex="@(Model.Component.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">
        <octicon symbol="ChevronLeft"></octicon>
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-searchBy="@Model.SearchBy"
       asp-route-pageIndex="@(Model.Component.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">
        <octicon symbol="ChevronRight"></octicon>
    </a>
</body>
</html>
