@page
@model kwh.Pages.AppUsers.DeleteModel

@{
    ViewData["Title"] = "Delete User";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="container-fluid mt-3">
    <br />
    <h3>Are you sure you want to delete this?</h3>
        <hr />
        <dl class="row justify-content-center">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppUser.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppUser.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppUser.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppUser.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUser.Email)
            </dd>
        </dl>
        <div class="row justify-content-center">
            <form method="post">
                <input type="hidden" asp-for="AppUser.Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-page="./Index">Back to List</a>
            </form>
        </div>
    </div>
</body>
</html>
